<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221635112933-lta597ans8ukunf2jl7gvt6t451gkj0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221635112933-lta597ans8ukunf2jl7gvt6t451gkj0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDrNwJEZW2oKzoSc05nTJU1-dF3wp0bgT8</string>
	<key>GCM_SENDER_ID</key>
	<string>221635112933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFlutterExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example2-733a0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example2-733a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221635112933:ios:af2f0667c96be1fbf2890c</string>
</dict>
</plist>